[program:pretix]
command=gunicorn --reload --preload --bind 0.0.0.0:9000 --workers 2 pretix.wsgi --name pretix --max-requests 1200 --max-requests-jitter 50
directory=%(ENV_HOME)s/pretix_data
autostart=true
autorestart=true
stopsignal=INT

[program:pretix_worker]
command=celery -A pretix.celery_app worker -l info --concurrency 1
directory=%(ENV_HOME)s/pretix_data
autostart=true
autorestart=true
stopsignal=INT
