---
- name: Create server
  hosts: setup
  gather_facts: false
  serial: 1
  roles:
    - server_setup
- name: Set up frontend domains
  hosts: frontend
  gather_facts: false
  remote_user: "{{ ssh_user }}"
  serial: 1
  tags: frontend
  roles:
    - frontend
- name: Set up devops server
  hosts: ci
  remote_user: "{{ ssh_user }}"
  roles:
    - apache
    - letsencrypt
    - docker
- name: Set up Drone
  hosts: ci
  become: true
  become_method: ansible.builtin.sudo
  remote_user: "{{ ssh_user }}"
  tags: drone
  roles:
    - drone
- name: Set up Gitea
  hosts: git
  gather_facts: false
  remote_user: "{{ ssh_user }}"
  roles:
    - gitea
- name: Set up Keycloak
  hosts: keycloak
  gather_facts: false
  remote_user: "{{ ssh_user }}"
  tags: keycloak
  roles:
    - keycloak
- name: Set up Payload
  hosts: payloadcms
  gather_facts: false
  remote_user: "{{ ssh_user }}"
  tags: payload
  roles:
    - payload
- name: Set up Pretix
  hosts: pretix
  gather_facts: false
  remote_user: "{{ ssh_user }}"
  tags: pretix
  roles:
    - pretix